<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stomeo.finalguessed">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_final"
        android:label="Guessed"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalGuessed">
        <activity
            android:name=".EstadisticasActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GameWinActivity"
            android:exported="false"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GameOverActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PlayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ContactActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>